// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

.list-thumb {
  height: 310px;
}

.list-thumb .title {
  height: 45px;
  font-weight: bold;
}

.list-thumb .img-wrap {
  height: 270px;
}